.Employees {
    grid-template-columns: 300px auto;
    column-gap: 30px;
    background: #323D4F;
    color: #C8CEC2;
}

.Employees h2 {
    font-size: 42px;
    grid-column: 1;
    align-self: start;
    border-bottom: 3px solid #C8CEC2;
}

.Employees .big {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto;
}

.Employees .big .employee {
    width: 200px;
    height: 240px;
    font-size: 25px;
    text-align: center;
    place-self: center;
    grid-row: 1;
}

.Employees .big .employee img {
    border-radius: 50px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
}

.Employees .small {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    row-gap: 10px;
    column-gap: 20px;
}

.Employees .small .employee {
    width: 100%;
    height: 60px;
    font-size: 16px;
    grid-column: auto;
    background: #C8CEC2;
    color: #323D4F;
    border-radius: 30px;
}

.Employees .small .employee img {
    width: auto;
    height: 50px;
    float: left;
    border-radius: 25px;
    margin: 5px;
}

.Employees .small .employee span {
    line-height: 60px;
    margin-left: 10px;
}
